<%- include layout/header.ejs%>
    <h1><%= title %></h1>
    <center>
        <form action="/agregarUsuario" method="post" enctype="multipart/form-data">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                </div>
                <br>
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">
                </div>
                <br>
                <div class="form-group">
                    <label for="foto">Foto</label>
                    <!--<input type="text" class="form-control" id="foto" name="foto" placeholder="Foto">-->
                    <input type="file" class="form-control-file" id="foto" name="foto">
                </div>
                <br>
                <div class="form-group">
                    <label for="sexo">Genero</label>
                    <input type="text" class="form-control" id="sexo" name="sexo" placeholder="Genero">
                </div>
                <br>
                <div class="form-group ">
                    <button type="submit" class="btn  btn-dark">Agregar usuario</button>
                </div>
            </div>
          
        </form>
    </center>
<%- include layout/footer.ejs%>